<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" android:exported="false" />
        <meta-data android:name="io.sentry.dsn" android:value="https://d870ad989e7046a8b9715a57f59b23b5@o447951.ingest.sentry.io/5428561" />
        <meta-data android:name="io.sentry.debug" android:value="true" />
    </application>
</manifest>
